body {
  font-family: Arial;
  text-align: center;
  background: #f7f7f7;
  
}

h1 {
  color: rgb(35, 140, 175);
  margin-top: 50px;
  margin-bottom: 50px;
}

h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #77dbe8;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border-color: #074348;
  border-style: double;
  border-width: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button:hover {
  opacity: 0.8;
  color:#074348;
}

#reponses{
  font-size: 50px;
}

#resultat {
  font-weight: bold;
  margin-top: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  color:rgb(35, 140, 175);
  margin-top: 20px;
}

p{
  font-size: 20px;
}