# Database configuration
DB_NAME=iot_game
DB_USER=gameadmin
DB_PASSWORD=tapez_votre_mot_de_passe_ici
DB_ROOT_PASSWORD=tapez_votre_root_password_ici
DB_HOST=db

# Ports
BACKEND_PORT=3000
FRONTEND_PORT=3001

# Auth
JWT_SECRET=change_me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=tapez_un_mot_de_passe_ici

# MQTT Configuration
MQTT_URL=mqtt://mosquitto:1883
